@import '_variable'

body
  background-color: bg-primary;

  .container

    header
      background-color: bg-primary;

    #main
      margin-top: 50px;

      li.list-group-item:hover
        background-color: #eee;

      .line-through{
        text-decoration: line-through;
      }
