<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    {{{body}}}
  </body>
  <!--<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>-->
  <script type="text/javascript">
    window.LOCALPATH = 'http://localhost:7000/'
  </script>
  <script type="text/javascript" src="/javascripts/bundle.js"></script>
</html>
